#sb-container {
	color: #222;
	background: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 9pt;
	width: 600px;
	height: 400px;
	border: 1px solid black;
	padding: 0px;
}
#sb-leftpanel {
	float: left;
	height: 340px;
	width: 179px;
	border-right: 1px solid #ccc;
	overflow: auto;
}
#sb-bottomleftpanel {
	border-top: 1px solid #ccc;
	float: left;
	height: 39px;
	width: 180px;
	clear: left;
}
#sb-topleftpanel {
	color: #fff;
	font-size: 10pt;
	font-weight: bold;
	padding: 2px;
	border-bottom: 1px solid #ccc;
	float: left;
	height: 15px;
	width: 176px;
	clear: left;
}
#sb-bottomleftpanel, #sb-bottomrightpanel, #sb-topleftpanel, #sb-toprightpanel {
	background-color: #99ccff;
}
#sb-rightpanel {
	float: left;
	height: 340px;
	width: 420px;
	clear: right;
	overflow: auto;
}
#sb-bottomrightpanel {
	border-top: 1px solid #ccc;
	float: left;
	width: 412px;
	height: 31px;
	padding: 4px 4px 4px 4px;
}
#sb-toprightpanel {
	border-bottom: 1px solid #ccc;
	float: left;
	height: 19px;
	width: 420px;
}
#sb-toprightpanel a {
	float: right;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	font-size: 10pt;
	margin: 2px 4px 0px 0px;
}
#sb-leftpanel ul, #sb-bottomleftpanel ul {
	list-style: none;
	margin: 5px;
	padding: 5px;
}
#sb-leftpanel li, #sb-bottomleftpanel li {
	clear: both;
}
#sb-leftpanel li img, #sb-bottomleftpanel li img {
	vertical-align: middle;
	max-width: 20px;
}
#sb-leftpanel li a, #sb-bottomleftpanel li a {
	color: #000;
	text-decoration: none;
	font-size: 8pt;
}
#sb-leftpanel li a:hover, #sb-bottomleftpanel li a:hover {
	text-decoration: underline;
}
#sb-bottomrightpanel object {
	cursor: hand;
	cursor: pointer;
	float: left;
	margin-top: 5px;
}
.uploadifyQueue {
	float: left;
}
#sb-apply, #sb-cancel {
	float: right;
	cursor: hand;
	cursor: pointer;
	max-height: 20px;
	margin-top: 3px;
	margin-left: 14px;
}
.sb-thumbnail {
	float: left;
	text-align: center;
	width: 100px;
	height: 100px;
	margin: 2px;
	margin-top: 4px;
	cursor:pointer;
	cursor:hand
}
.sb-thumbnail-active {
	background-color: #99ccff;
}
.sb-thumbnail img {
	margin-top: 4px;
	max-width: 70px;
	max-height: 70px;			
}
.ajax-loading {
	background-image: url('ajax-loader.gif');
	background-repeat: no-repeat;
}